 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    background: white;
    padding: 40px;
    border-radius: 15px;
    width: 400px;
    text-align: center;
    box-shadow: 0 5px 20px rgba(0,0,0,0.3);
}

.card h1,
.card h2 {
    margin-bottom: 20px;
    color: #111827;
}

.card p {
    margin-bottom: 20px;
    color: #555;
}

input {
    width: 100%;
    padding: 12px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 8px;
}

.btn {
    width: 100%;
    padding: 12px;
    border: none;
    background: #2563eb;
    color: white;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s;
    text-decoration: none;
    display: inline-block;
}

.btn:hover {
    background: #1d4ed8;
}

.secondary {
    background: #374151;
    margin-top: 10px;
}

.secondary:hover {
    background: #1f2937;
}

.buttons {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#mensaje {
    margin-top: 10px;
    font-weight: bold;
}